<h1>Assessment update!</h1>

<p>Hello,</p>

<p>Here are the details of your latest assessment:</p>

<ul>
  <li><strong>Assessment Type:</strong> <%= @assessment_type %></li>
  <li><strong>Score:</strong> <%= @score %></li>
  <li><strong>Last Updated:</strong> <%= @updated_at %></li>
</ul>

<p>Thank you!</p>
<p>MH-ELP Support Team</p>
